body {
    text-align: center;
    margin: 50px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: red;
    border-color: red;
    border-radius: 10px;
    font-weight: 600;
}

p {
    font-size: 75px;
    margin-top: 50px;
}

#gerarNomeBtn{
    width: 500px;
    margin-top: 300px;
}
.box{
    margin-left: 475px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
    background-color:    rgba(52, 50, 50, 0.30);
    border-radius: 30px;
}